
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    width: 1198px;
    margin: 0 auto;
    background-image: linear-gradient(white, rgb(152, 151, 151));
}

header{
    background-image:linear-gradient(rgb(27, 27, 27), rgb(60, 60, 60));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 10px 10px black;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

h1{
    margin-inline-start: 20px;
}

header nav{
    margin-inline-end: 300px;
    margin-bottom: -45px;
}
header nav a{
    color: white;
    font-size: 14pt;
    margin: 7px;
}


main{

background-color: #474849;
padding-bottom: 80px;
}



footer{
    background-image: linear-gradient(rgb(60, 60, 60), rgb(27, 27, 27));
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Raleway", sans-serif;;
}

footer div{
    margin: 20px;
}
footer div a{
    color: white;
}

.callToAction{
    background-image: linear-gradient(rgb(251, 248, 248), rgb(154, 153, 153));
    box-shadow: 0px 5px 10px black;
    width: 100px;
    height: 40px;
    padding: 5px;
    color: black;
    font-family: "Raleway", sans-serif;;
    
}   

section{
    margin-inline-start: 20px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;;
}



.HP-gallery{
    display: flex;
    flex-direction: row;
    margin-inline-start: -10px;

}

.HP-gallery img{
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-top: -10px;
    color: black;
}


.galleryUnit{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}
.galleryUnitText{
    display: block;
}

.galleryUnitText h3{
    font-size: 40px;
}
.galleryUnitText p{
    font-size: 22px;
}

.galleryUnit img{
    background-color: white;
    width: 600px;
    height: 500px;
    margin:20px;
    box-shadow: 0px 5px 10px black;
    color: black;
    
}


.UXgalleryUnit{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.UXgalleryUnitText{
    display: block;
    text-align: center;
    margin-top: -50px;
}

.UXgalleryUnit img{
    background-color: white;
    width: 900px;
    height: 600px;
    margin:20px;
    box-shadow: 0px 5px 10px black;
    color: black;
}

.UXgalleryUnitText h3{
    font-size: 40px;
}
.UXgalleryUnitText p{
    font-size: 20px;
    margin-top: -30px;
}